<div class="header">
  <h2>{{title}}</h2>
  <h4>Joe Vincent Geronimo</h4>
</div>

<div class="calculator" >
  <input type="text" [value]="currentNumber" id="calc-display" readonly/>

  <div class="calc-keyboard">
    <button class="simple-bt" type="button" value="+" (click)="getOperation('+')">+</button>
    <button class="simple-bt" type="button" value="-" (click)="getOperation('-')">-</button>
    <button class="simple-bt" type="button" value="*" (click)="getOperation('*')">&times;</button>
    <button class="simple-bt" type="button" value="/" (click)="getOperation('/')">&divide;</button>

    <button class="simple-bt" type="button" value="1" (click)="getNumber('1')">1</button>
    <button class="simple-bt" type="button" value="2" (click)="getNumber('2')">2</button>
    <button class="simple-bt" type="button" value="3" (click)="getNumber('3')">3</button>
    <button class="simple-bt" type="button" value="4" (click)="getNumber('4')">4</button>

    <button class="simple-bt" type="button" value="5" (click)="getNumber('5')">5</button>
    <button class="simple-bt" type="button" value="6" (click)="getNumber('6')">6</button>
    <button class="simple-bt" type="button" value="7" (click)="getNumber('7')">7</button>
    <button class="simple-bt" type="button" value="8" (click)="getNumber('8')">8</button>

    <button class="simple-bt" type="button" value="9" (click)="getNumber('9')">9</button>
    <button class="simple-bt" type="button" value="0" (click)="getNumber('0')">0</button>
    <button class="simple-bt" type="button" value="." (click)="addDecimalPoint()">.</button>
    <button class="simple-bt" type="button" id="clear-all" value="ac" (click)="clearAll()">AC</button>

    <button class="simple-bt" type="button" id="bt-result" value="=" (click)="calc()">=</button>
  </div>
</div>
